# Appium Server — адрес запущенного сервера Appium
APPIUM_SERVER.URL="http://127.0.0.1:4723"

# Android — настройки подключения к устройству/эмулятору
ANDROID.PLATFORM_NAME="Android"
ANDROID.AUTOMATION_NAME="UiAutomator2"
ANDROID.DEVICE_NAME="emulator-5554"
ANDROID.APP_PACKAGE="com.gzvyagintsev.talks"
ANDROID.APP_ACTIVITY=".MainActivity"
ANDROID.NO_RESET=false
