# Игнорируем папки с кэшем Python
__pycache__/
*.pyc
*.pyo

# Игнорируем папки виртуального окружения
.venv/
venv/

# Файлы IDE (например, PyCharm или VSCode)
.idea/
.vscode/

# Переменные окружения (содержат секреты)
.env

# Allure — результаты и отчёты
allure-results/
allure-report/

# Скриншоты тестов
screenshots/
